/* You can add global styles to this file, and also import other style files */

.img-preview {
  padding-top: 100%;
  overflow: hidden;
}

.img-preview img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
